<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL" defaultPath="/error/">
      <clear />
      <error statusCode="401" path="401" />
      <error statusCode="403" path="403" />
      <error statusCode="404" path="404" />
      <error statusCode="405" path="405" />
      <error statusCode="406" path="406" />
      <error statusCode="412" path="412" />
      <error statusCode="500" path="500" />
      <error statusCode="501" path="501" />
      <error statusCode="502" path="401" />
    </httpErrors>
  </system.webServer>
</configuration>
